.md-dialog-container {
  width: 80% !important;
  overflow: scroll !important;
}

.md-layout-item {
  padding: 0 24px !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.text-error {
  color: red !important;
  font-style: italic;
}

.md-table-cell-container img.admin-table-img {
  width: 60px;
}

.img_table {
  min-width: 60px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

